[Unit]
Decription=The longPeriodCOntroller

[Service]
Type=simple
Environment=LANG=C
ExecStart=/home/pi/src/ITBOX/longPeriodControl.js
ExecStop=/bin/kill -WINCH ${MAINPID}
KillSignal=SIGINT
PrivateTmp=true
Restart = always

[Install]
WantedBy=multi-user.target
